/**
 * @file
 * Drupal-specific CSS fixes for the Chosen module
 */
.chzn-container {
  display: table !important;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: auto;
}